In [1]:
#Import libraries
import pandas as pd
import glob
import os
import datetime as dt
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import matplotlib.dates
import matplotlib.dates as mdates
import seaborn as sns

In [2]:
#Import csv files
path = "/Users/raws/documents/GitHub/portfolio/SQL/marketing"
csv_files = glob.glob(path + "/*.csv")

csv_files

['/Users/raws/documents/GitHub/portfolio/Python/marketing/Marketing_Spend.csv',
 '/Users/raws/documents/GitHub/portfolio/Python/marketing/CustomersData.csv',
 '/Users/raws/documents/GitHub/portfolio/Python/marketing/Discount_Coupon.csv',
 '/Users/raws/documents/GitHub/portfolio/Python/marketing/Tax_amount.csv',
 '/Users/raws/documents/GitHub/portfolio/Python/marketing/Online_Sales.csv']

In [10]:
customers_data = "/Users/raws/documents/GitHub/portfolio/SQL/marketing"
customers_dataset = pd.read_excel(customers_data)
customers_dataset

      CustomerID Gender    Location  Tenure_Months
0          17850      M     Chicago             12
1          13047      M  California             43
2          12583      M     Chicago             33
3          13748      F  California             30
4          15100      M  California             49
...          ...    ...         ...            ...
1463       14438      F    New York             41
1464       12956      F     Chicago             48
1465       15781      M  New Jersey             19
1466       14410      F    New York             45
1467       14600      F  California              7

[1468 rows x 4 columns]

In [17]:
customers_dataset.to_csv("customers_data.csv", index="false")

In [20]:
tax_data = "/Users/raws/Downloads/archive (18)/Tax_amount.xlsx"
tax_dataset = pd.read_excel(tax_data)
tax_dataset

        Product_Category   GST
0               Nest-USA  0.10
1                 Office  0.10
2                Apparel  0.18
3                   Bags  0.18
4              Drinkware  0.18
5              Lifestyle  0.18
6   Notebooks & Journals  0.05
7               Headgear  0.05
8                   Waze  0.18
9                    Fun  0.18
10           Nest-Canada  0.10
11             Backpacks  0.10
12                Google  0.10
13               Bottles  0.05
14            Gift Cards  0.05
15             More Bags  0.18
16            Housewares  0.12
17               Android  0.10
18           Accessories  0.10
19                  Nest  0.05

In [21]:
tax_dataset.to_csv("tax_data.csv", index="false")

In [8]:
#Append csvs to list using list comprehension
df_list = [pd.read_csv(filename, encoding='ISO-8859-1', lineterminator='\n', index_col=None, header=0) for filename in csv_files]
df_list

ParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 8